* {
    text-decoration: none;
    list-style: none;
}
/* test github */
body {
    font-family: 'Raleway';
    font-style: normal;
}
/* Center éléments au millieu*/
.flexCenter {
    display: flex;
    align-content: center;
    align-items: center;
}
/* espacer éléments*/
.flexAround {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* espacer éléments sans marge extérieure */
.flexBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* espacements entre les Liens*/
.sizeLiens {
    width: 25%;
    padding-top: 48px;
}
/* couleur lien hebergements*/
.colorHeb {
    color: #000000;
}
.colorHeb:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
}
/* couleur lien activités*/
.colorAct {
    color: #000000;
}
.colorAct:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
}
/*définition taille + placement logo header*/
.logoBooki {
    width: 61.09px;
    height: 19px;
    margin-left: 55px;
    margin-top: 44px;
}
/* placement + taille titre */
h1 {
    margin-top: 80px;
    margin-left: 55px;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}
/* placement + taille sous-titre*/
h3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-top: 8px;
    margin-left: 55px;
}
h4 {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-left: 15px;
    margin-right: 20px;
}
h5 {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}
/* filtres display*/
.boxFiltres {
    margin-top: 2.5%;
    margin-left: 3.5%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    
}
.filterTittle a {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    margin-right: 50px;
}
/* bordures grises filtres */
.borderFilter {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border: 2px solid  #F2F2F2;
    border-radius: 25px;
    margin-right: 5%;
}
.borderFilter:hover {
    background-color: #DEEBFF;
    }
.borderFilter a {
    color: black;
}
/* Filtres logos*/
.logoFiltre {
    margin-right: 10px;
    color: #0065FC;
}
/* partie sous titre + logo infos*/
.infoIcon {
    display: flex;
    align-items: center;
    margin-left: 3.5%;
    margin-top: 25px;
    margin-bottom: 25px;
}
/* cercle du logo servant à centrer logo info*/
.parentIcon {
    color: #0065FC;
    width: 20px;
    height: 20px;
    border: 2px solid  #F2F2F2;
    border-radius: 25px;
    
}
.infoSize {
    margin-left: 7px;
}
.nbrLogements {
    line-height: 19px;
    margin-left: 11px;
}
/* barre de recherche */
/* placement barre de recherche */
.boxSearchIcon {
    width: 14px;
    height: 18px;
}
input {
    border: none;
}
input:focus {
    outline:  none;
}
.boxSearch {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    margin-left: 4%;
    height: 49px;
    width: 350px;
    
}
.boxSearch1 {
    background-color: #F2F2F2;
    width: 50px;
    height: 49px;
    border-radius: 15px 0px 0px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.boxSearch2 {
    background-color: #FFFFFF;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    padding-top: 14px;
    padding-bottom: 14px;
}
.boxSearch3 {
    width: 130px;
    height: 49px;
    background-color: #0065FC;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    padding-left: 15px;
    border-radius: 0px 15px 15px 0px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}
/* partie main hébergements à Marseille + les plus populaires*/
/* div hébergement*/
.boxHeb {
    margin-left: 3%;
    margin-right: 3%;
    background: #F2F2F2;
    width: auto;
    height: 625px;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
}
/* div les plus populaires*/
.boxPop {
    background: #F2F2F2;
    Width: auto;
    Height: 625px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* titre hebergements*/
.titreHebMarseille {
    margin-top: 4%;
    width: 100%;
}
.sizePictHeb {
    border-radius: 20px 20px 0px 0px;
}
/* titre les plus populaires */
.titrePlusPopulaires {
    margin-top: 10%;
    margin-left: 10%;
}
/* les 3 les plus populaires*/
.popArticlesBox {
    width: 90%;
    height: 144px;
    background-color: white;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}
.tittlePopArticles {
    display: flex;
}
/* placement + couleur logo partie les plus populaires*/
.logoPlusPop {
    margin-right: 10%;
    color: #0065FC;
}
/* définition forme images les plus populaires*/
.sizePictPop {
    border: 5px solid #FFFFFF;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.sousTitresPop {
    margin: 7.5% 0;
}
.prixNuitPop {
    margin: 7.5% 0;
}
/* les 6 hébergements*/
.hebergementsBox {
    width: 30%;
    height: 199px;
    background-color: white;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #FFFFFF;
}
/* definition placement et taille des hébergements à Marseille */
.sousTitresHebergements {
    display: flex;
    justify-content: baseline;
    margin-top: auto;
    color: #000000;
}
/* prixHébergements */
.prixHebergements {
    display: flex;
    justify-content: flex-start;
    color: #000000;
    margin-left: 6%;
    margin-top: -20px;
}
/* placements logo étoiles */
.starIconDisplayHeb {
    display: flex;
    margin-top: -5px;
    margin-left: 15px;
}
.starIconDisplayPop {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
/* taille + couleurs logo étoiles*/
.starIconStyle {
    color: #0065FC;
    width: 12px;
    height: 12px;
    margin-right: 7px;
}
.starIconStyleGrey {
    color: #F2F2F2;
    width: 12px;
    height: 12px;
    margin-right: 7px;
}
.hebAfficherPlus {
    width: 100%;
    margin-left: 5%;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}
.sizeBoxAct {
    height: 389px;
    width: 100%;
}
.sizePictAct {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 100%;
    width: 90%;
    background-size: cover;
    background-position: center;
}
.imgVieuxPort { 
    background: url(./images/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
}
.imgPomegues {
    background: url(./images/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
}
.imgCalanques {
    background: url(./images/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
}
.imgNotreDame {
    background: url(./images/florian-wehde-xW9e8gdotxI-unsplash.jpg);
}
/* défini taille + forme sous titres photos activités + box*/
.sizeTittlesAct {
    background-color: white;
    width: 85%;
    height: 35px;
    color: #000000;
    margin-top: 0;
    margin-left: 0;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 5%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
}
.mobileAct {
    margin-left: 2.5%;
}
/* placement + taille + background footer */
.sizeFooter {
    position: absolute;
    left: 3.33%;
    right: 3.68%;
    background: #F2F2F2;
    height: 225px;
    margin-top: 150px;
}
/* taille + couleur titres du Footer */
.tittleFooter a {
    font-weight: 700;
    font-size: 18px;
    line-height: 50px;
    color: black;
}
/* taille + couleur + espacement entre les sous-titres du Footer*/
.subtittleFooter a {
    color: black;
    line-height: 25px;
}
.flexStartFooter {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.testheb {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 2.5%;
}

/* mobile */
@media screen and (max-width: 767px) {
    .flexBetween {
        display: flex;
        flex-direction: column;
        
    }
    .flexAround {
        display: flex;
        width: 100%;
    }
    .logoBooki {
        display: flex;
        margin-top: 20px;
        margin-left: 0px;
    }
    .boxSearch3Mobile {
        width: 49px;
        height: 49px;
        background-color: #0065FC;
        border-radius: 0px 15px 15px 0px;
    }
    .boxSearch3MobileIcon {
        color: #FFFFFF;
        display: flex;
        margin-top: 16px;
        margin-left: 16px;
    }
    .filterTittle {
        width: 100%;
        margin-bottom: 20px;
    }
    .boxFiltres {
        display: flex;
        justify-content: flex-start;
    }
    h1 {
        margin-left: 7%;
    }
    h3 {
        margin-left: 7%;
    }
    .mobileAct {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        max-width: auto;
    }
    .sizeBoxAct {
        margin-bottom: 100px;
        height: 200px;
        max-width: 80%;
    }
    .sizeFooter {
        height: auto;
        width: auto;
    }
    .test {
        display: flex;
        align-items:center;
        flex-wrap: wrap;
    }
    .boxSearch {
        display: flex;
        justify-content:center;
        align-items: center;
    }
    .testheb {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap:wrap-reverse;
    }
    .boxPop {
        width: 100%;
        border-radius: 0px 0px 0px 0px;
    }
    .titrePlusPopulaires {
        display: flex;
        flex-direction: row;
    }
    .boxHeb {
        height: 100%;
        background: #FFFFFF;
    }
    .hebergementsBox {
        margin-bottom: 10px;
        box-shadow: 3px 2px 2px  #F2F2F2;
        width: 100%;
        max-width: 390px;
    }
    .boxFiltres {
        display: flex;
        justify-content: center;
    }
    .borderFilter {
        justify-content: flex-start;
        margin-left: 2.5%;
        margin-right: 2.5%;
        margin-bottom: 2.5%;
        width: 26%;
        min-width: 120px;
        font-size: 11px;
    }
    .filterTittle {
        margin-right: 0;
    }
    .flexStartFooter {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .hebAfficherPlus {
        display: none;
    }
}
/* Tablet */
@media screen and (min-width: 768px) and (max-width: 992px) {
    .filterTittle {
        margin: auto;
    }
    .borderFilter {
        margin: auto;
    }
    .boxHeb {
        margin-bottom: 5%;
    }
    .boxPop {
        display: flex;
        align-items: center;
        margin: auto;
        width: 95%;
        height: 280px;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .titrePlusPopulaires {
        width: 100%;
        margin-top: 0;
    }
    .testheb {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        margin-right: 0;
    }
    .popArticlesBox {
        height: 144px;
        width: 252px;
    }
    .sizeBoxAct {
        height: 267px;
        width: 182px;
    }
    .sizeTittlesAct {
        width: 85%;
        padding-bottom: 10px;
    }
}