* {
    text-decoration: none;
    list-style: none;
}
a {
    color: #000000;
}
/* test github */
body {
    font-family: 'Raleway';
    font-style: normal;
    max-width: 1400px;
    margin: auto;
}
/* Center éléments au millieu*/
.flexCenter {
    display: flex;
    align-content: center;
    align-items: center;
}
/* espacer éléments*/
.flexAround {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* espacer éléments sans marge extérieure */
.flexBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* espacements entre les Liens*/
.sizeLiens {
    width: 25%;
}
.animLiens:hover {
    padding-top: 47px;
    color: #0065FC;
    border-top: 2px solid #0065FC;
}
/*définition taille + placement logo header*/
.logoBooki {
    width: 61.09px;
    height: 19px;
    margin-top: 44px;
    padding-bottom: 50px;
}
/* placement + taille titre */
h1 {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}
/* placement + taille sous-titre*/
h3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}
h4 {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}
h5 {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}
/* filtres display*/
.boxFiltres {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.filterTittle a {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    margin-right: 50px;
}
/* bordures grises filtres */
.borderFilter {
    padding: 10px 10px 10px 10px;
    border: 2px solid  #F2F2F2;
    border-radius: 25px;
    margin-right: 5%;
}
.borderFilter:hover {
    background-color: #DEEBFF;
}
/* Filtres logos*/
.logoFiltre {
    margin-right: 10px;
    color: #0065FC;
}
/* partie sous titre + logo infos*/
.infoIcon {
    display: flex;
    align-items: center;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}
/* cercle du logo servant à centrer logo info*/
.parentIcon {
    color: #0065FC;
    width: 20px;
    height: 20px;
    border: 2px solid  #F2F2F2;
    border-radius: 25px;
    margin-bottom: 10px;
}
.infoSize {
    margin-left: 7px;
}
.nbrLogements {
    line-height: 19px;
    margin-left: 11px;
}
/* barre de recherche */
/* placement barre de recherche */
.boxSearchIcon {
    width: 14px;
    height: 18px;
}
input {
    border: none;
}
input:focus {
    outline:  none;
}
.boxSearch {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    height: 49px;
    width: 350px;
    margin-bottom: 2.5%;
}
.boxSearch1 {
    background-color: #F2F2F2;
    padding: 11.5px;
    border-radius: 15px 0px 0px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.boxSearch2 {
    background-color: #FFFFFF;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    padding: 10px 0px 10px 0px;
}
.boxSearch3 {
    padding: 10px;
    background-color: #0065FC;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    padding-left: 15px;
    border-radius: 0px 15px 15px 0px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}
/* partie main hébergements à Marseille + les plus populaires*/
/* div hébergement*/
.boxHeb {
    background: #F2F2F2;
    width: auto;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
}
/* div les plus populaires*/
.backgroundHeb {
    background: #F2F2F2;
    Width: 65%;
    min-width: 350px;
    border-radius: 20px;
}
.titreHebMarseille {
    padding-left: 2.5%;
}
.boxPop {
    border-radius: 20px;
    background: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sizePictHeb {
    width: 100%;
    height: 124px;
    border-radius: 20px 20px 0px 0px;
}
/* titre les plus populaires */
.titrePlusPopulaires {
    margin-top: 10%;
    margin-left: 7.5%;
    margin-bottom: 20px;
}
/* les 3 les plus populaires*/
.popArticlesBox {
    width: 90%;
    height: 144px;
    background-color: white;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}
.tittlePopArticles {
    display: flex;
}
/* placement + couleur logo partie les plus populaires*/
.logoPlusPop {
    margin-right: 5%;
    color: #0065FC;
}
/* définition forme images les plus populaires*/
.sizePictPop {
    width: 120px;
    height: 135px;
    border: 5px solid #FFFFFF;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.sousTitresPop {
    display: flex;
    flex-wrap: wrap;
    padding-left: 2.5%;
    padding-right: 25px;
    margin-top: 5%;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.prixNuitPop {
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 2.5%;
    padding-right: 15%;
    margin-bottom: 27.5%;
}
/* les 6 hébergements*/
.hebergementsBox {
    width: 30%;
    height: 199px;
    background-color: white;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2.5%;
    border: 5px solid #FFFFFF;
}
/* definition placement et taille des hébergements à Marseille */
.sousTitresHebergements {
    display: flex;
    justify-content: baseline;
    margin-top: auto;
    padding-left: 5%;
}
/* prixHébergements */
.prixHebergements {
    display: flex;
    justify-content: flex-start;
    margin-left: 5%;
    margin-top: -20px;
}
/* placements logo étoiles */
.cardTextPop {
    min-width: 140px;
}
.starIconDisplayHeb {
    display: flex;
    margin-top: -5px;
    margin-left: 15px;
}
.starIconDisplayPop {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
/* taille + couleurs logo étoiles*/
.starIconStyle {
    color: #0065FC;
    width: 12px;
    height: 12px;
    margin-right: 7px;
}
.starIconStyleGrey {
    color: #F2F2F2;
    width: 12px;
    height: 12px;
    margin-right: 7px;
}
.hebAfficherPlus {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    padding-left: 2.5%;
}
.sizeBoxAct {
    height: 389px;
    width: 100%;
}
.sizePictAct {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 100%;
    width: 90%;
    background-size: cover;
    background-position: center;
}
.imgVieuxPort { 
    background: url(./images/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
}
.imgPomegues {
    background: url(./images/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
}
.imgCalanques {
    background: url(./images/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
}
.imgNotreDame {
    background: url(./images/florian-wehde-xW9e8gdotxI-unsplash.jpg);
}
/* défini taille + forme sous titres photos activités + box*/
.sizeTittlesAct {
    background-color: white;
    width: 85%;
    height: 35px;
    margin-top: 0;
    margin-left: 0;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 5%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
}
/* placement + taille + background footer */
.sizeFooter {
    background: #F2F2F2;
    height: auto;
    margin-top: 150px;
}
/* taille + couleur titres du Footer */
.tittleFooter a {
    font-weight: 700;
    font-size: 18px;
    line-height: 50px;
}
/* taille + couleur + espacement entre les sous-titres du Footer*/
.subtittleFooter a {
    line-height: 25px;
}
.flexStartFooter {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.testheb {
    display: flex;
    justify-content: space-around;
}

/* mobile */
@media screen and (max-width: 767px) {
    .sizeLiens {
        margin-bottom: 7.5%;
    }
    .animLiens:hover {
        border-top: none;
        border-bottom: 2px solid #0065FC;
        padding-bottom: 10px;
    }
    .boxSearch3 span{
        display: none;
    }
    .boxSearch3 {
        padding-bottom: 13px;
    }
    .flexBetween {
        display: flex;
        flex-direction: column;
        
    }
    .flexAround {
        display: flex;
        width: 100%;
    }
    .logoBooki {
        display: flex;
        margin-top: 20px;
        margin-left: 0px;
    }
    .filterTittle {
        width: 100%;
        margin-bottom: 20px;
    }
    .boxFiltres {
        display: flex;
        justify-content: flex-start;
    }
    .mobileAct {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        max-width: auto;
    }
    .sizeBoxAct {
        margin-bottom: 100px;
        height: 200px;
        max-width: 80%;
    }
    .sizeFooter {
        height: auto;
        width: auto;
    }
    .boxSearch {
        display: flex;
        justify-content:center;
    }
    .testheb {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap:wrap-reverse;
    }
    .boxPop {
        width: 100%;
        border-radius: 0px 0px 0px 0px;
    }
    .popArticlesBox {
        margin-bottom: 2.5%;
    }
    .titrePlusPopulaires {
        display: flex;
        flex-direction: row;
    }
    .backgroundHeb {
        background:#FFFFFF;
    }
    .boxHeb {
        height: 100%;
        background: #FFFFFF;
    }
    .hebergementsBox {
        margin-bottom: 10px;
        box-shadow: 3px 2px 2px  #F2F2F2;
        width: 100%;
        max-width: 390px;
    }
    .boxFiltres {
        display: flex;
        justify-content: center;
    }
    .borderFilter {
        justify-content: flex-start;
        margin-left: 2.5%;
        margin-right: 2.5%;
        margin-bottom: 2.5%;
        width: 26%;
        min-width: 120px;
        font-size: 11px;
    }
    .hebAfficherPlus {
        display: none;
    }
    .flexStartFooter {
        flex-direction: column;
        align-items: flex-start;
    }
}
/* Tablet */
@media screen and (min-width: 768px) and (max-width: 992px) {
    .borderFilter {
        margin: auto;
    }
    .backgroundHeb {
        width: 95%;
        margin-bottom: 2.5%;
    }
    .boxHeb {
        margin-bottom: 5%;
    }
    .boxPop {
        display: flex;
        align-items: center;
        margin: auto;
        width: 95%;
        height: 280px;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .titrePlusPopulaires {
        width: 100%;
        margin: 0% 0% 0% 3.5%;
    }
    .testheb {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        margin-right: 0;
    }
    .popArticlesBox {
        height: 144px;
        width: 252px;
    }
    .sizeBoxAct {
        height: 267px;
        width: 182px;
    }
    .sizeTittlesAct {
        width: 85%;
        padding-bottom: 10px;
    }
}

@media screen and (min-width: 767px) {
    .boxSearch3 i {
        display: none;
    }
}