* {
    text-decoration: none;
    list-style: none;
}
body {
    font-family: 'Raleway';
    font-style: normal;
}
/* Center éléments au millieu*/
.flexCenter {
    display: flex;
    align-content: center;
    align-items: center;
}
/* espacer éléments*/
.flexAround {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* espacer éléments sans marge extérieure */
.flexBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* espacements entre les Liens*/
.sizeLiens {
    width: 25%;
    margin-top: 48px;
}
/* couleur lien hebergements*/
.colorHeb {
    color: #000000;
}
.colorHeb:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
}
/* couleur lien activités*/
.colorAct {
    color: #000000;
}
.colorAct:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
}
/*définition taille + placement logo header*/
.logoBooki {
    width: 61.09px;
    height: 19px;
    margin-left: 55px;
}
/* placement + taille titre */
h1 {
    margin-top: 80px;
    margin-left: 55px;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}
/* placement + taille sous-titre*/
h3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-top: 8px;
    margin-left: 55px;
}
h4 {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-left: 15px;
    margin-right: 20px;
}
h5 {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}
/* filtres display*/
.boxFiltres {
    margin-top: 2.5%;
    margin-left: 3.5%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    
}
.filterTittle a {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    margin-right: 50px;
}
/* bordures grises filtres */
.borderFilter {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border: 2px solid  #F2F2F2;
    border-radius: 25px;
    margin-right: 5%;
}
.borderFilter:hover {
    background-color: #DEEBFF;
    }
.borderFilter a {
    color: black;
}
/* Filtres logos*/
.logoFiltre {
    margin-right: 10px;
    color: #0065FC;
}
/* partie sous titre + logo infos*/
.infoIcon {
    display: flex;
    align-items: center;
    margin-left: 3.5%;
    margin-top: 25px;
    margin-bottom: 25px;
}
/* cercle du logo servant à centrer logo info*/
.parentIcon {
    color: #0065FC;
    width: 20px;
    height: 20px;
    border: 2px solid  #F2F2F2;
    border-radius: 25px;
    
}
.nbrLogements {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}
/* barre de recherche */
/* placement barre de recherche */
.boxSearchIcon {
    width: 14px;
    height: 18px;
}
input {
    border: none;
}
input:focus {
    outline:  none;
}
.boxSearch {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    margin-left: 4%;
    height: 49px;
    width: 350px;
    
}
.boxSearch1 {
    background-color: #F2F2F2;
    width: 50px;
    height: 49px;
    border-radius: 15px 0px 0px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.boxSearch2 {
    background-color: #FFFFFF;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    padding-top: 14px;
    padding-bottom: 14px;
}
.boxSearch3 {
    width: 130px;
    height: 49px;
    background-color: #0065FC;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    padding-left: 15px;;
    border-radius: 0px 15px 15px 0px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}
/* partie main hébergements à Marseille + les plus populaires*/
/* div hébergement*/
.boxHeb {
    margin-left: 5%;
    background: #F2F2F2;
    width: 90%;
    height: 625px;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
}
/* div les plus populaires*/
.boxPop {
    background: #F2F2F2;
    Width: 420px;
    Height: 625px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 50px;
}
/* titre hebergements*/
.titreHebMarseille {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    margin-top: 4%;
    width: 100%;
}
.sizePictHeb {
    border: 5px solid #FFFFFF;
    border-radius: 20px 20px 0px 0px;
}
/* titre les plus populaires */
.titrePlusPopulaires {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    margin-top: 10%;
}
/* les 3 les plus populaires*/
.popArticlesBox {
    width: 343px;
    height: 144px;
    background-color: white;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}
.tittlePopArticles {
    display: flex;
}
/* placement + couleur logo partie les plus populaires*/
.logoPlusPop {
    margin-right: 10%;
    color: #0065FC;
}
/* définition forme images les plus populaires*/
.sizePictPop {
    border: 5px solid #FFFFFF;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.prixNuitPop {
    margin-left: 7.5%;
    margin-bottom: 15%;
}
/* les 6 hébergements*/
.hebergementsBox {
    width: 246px;
    height: 199px;
    background-color: white;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
}
/* definition placement et taille des hébergements à Marseille */
.sousTitresHebergements {
    display: flex;
    justify-content: baseline;
    margin-top: auto;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}
/* prixHébergements */
.prixHebergements {
    display: flex;
    justify-content: flex-start;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    margin-left: 6%;
    margin-top: -20px;
}
/* placements logo étoiles */
.starIconDisplay {
    display: flex;
    margin-top: -20px;
    margin-left: 15px;
}
/* taille + couleurs logo étoiles*/
.starIconStyle {
    color: #0065FC;
    width: 12px;
    height: 12px;
    margin-right: 7px;
}
.starIconStyleGrey {
    color: #F2F2F2;
    width: 12px;
    height: 12px;
    margin-right: 7px;
}
.hebAfficherPlus {
    width: 100%;
    margin-left: 5%;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}
.sizePictAct {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
/* défini taille + forme sous titres photos activités + box*/
.sizeTittlesAct {
    background-color: white;
    width: 300px;
    height: 56px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    box-shadow: 3px 2px 2px  #F2F2F2;
    margin-bottom: 60px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
}
/* placement + taille + background footer */
.sizeFooter {
    position: absolute;
    left: 3.33%;
    right: 3.68%;
    background: #F2F2F2;
    height: 225px;
}
/* taille + couleur titres du Footer */
.tittleFooter a {
    font-weight: 700;
    font-size: 18px;
    line-height: 50px;
    color: black;
}
/* taille + couleur + espacement entre les sous-titres du Footer*/
.subtittleFooter a {
    color: black;
    line-height: 25px;
}
.flexAroundFooter {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.testheb {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
@media screen and (max-width: 500px) {
    .flexBetween {
        display: flex;
        flex-direction: column;
        
    }
    .flexAround {
        display: flex;
        width: 100%;
    }
    .logoBooki {
        display: flex;
        margin-top: 20px;
        margin-left: 0px;
    }
    .filterTittle {
        width: 100%;
        margin-bottom: 20px;
    }
    .boxFiltres {
        display: flex;
        justify-content: flex-start;
    }
    h1 {
        margin-left: 7%;
    }
    h3 {
        margin-left: 7%;
    }
    .mobileAct {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .sizeFooter {
        height: auto;
        width: auto;
    }
    .test {
        display: flex;
        align-items:center;
        flex-wrap: wrap;
    }
    .boxSearch {
        display: flex;
        justify-content:center;
        align-items: center;
    }
    .testheb {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap:wrap-reverse;
    }
    .boxPop {
        width: 375px;
        border-radius: 0px 0px 0px 0px;
        margin-right: 0;
    }
    .boxHeb {
        height: 100%;
        background: #FFFFFF;
    }
    .hebergementsBox {
        margin-bottom: 10px;
        box-shadow: 3px 2px 2px  #F2F2F2;
    }
    .borderFilter {
        margin-right: 0;
    }
    .filterTittle {
        margin-right: 0;
    }
    .flexAroundFooter {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
}
@media screen and (min-width: 501px) and (max-width: 1310px) {
    .boxPop {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 5%;
        margin-right: 0;
        width: 100%;
        height: 280px;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .titrePlusPopulaires {
        width: 100%;
        margin-top: 0;
    }
    .testheb {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }
    .popArticlesBox {
        height: 144px;
        width: 252px;
    }
}